body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

section {
  position: fixed;
  text-align: center;
  align-items: center;
  top: 35vh;
  left: 42.5vw;
  width: 30vh;
  height: 30vh;
  background-color: #E2D1F9;
  z-index: 1;
  color: rgb(45, 45, 45);
  font-family: sans-serif;
  border-radius: 200px;
  display: none;
}

section li {
  margin-left: 93px;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8AAAE5;
  width: 100vw;
  height: 100vh;
}
.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8AAAE5;
  width: 100vw;
  height: 100vh;
}

.heading {
  font-size: 2rem;
  font-weight: 8000;
  margin-bottom: 50px;
  padding: 0 20px;
  color: rgb(20, 18, 19);
  border-radius: 200px;
}

.logBtn {
  background-color: #8AAAE5;
  border: 1px solid #000000;
  margin-top: 20px;

}

.activeLink {
  display: flex;
  margin-top: 3px;
  margin-left: 30px;
  color: rgb(56, 56, 56);
  text-decoration: none;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.listOne {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-left: 60px;
}

.listTwo {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-left: -56px;
}

.listOne li,
.listTwo li {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid rgb(148, 147, 147);
  width: 100px;
  height: 50px;
  margin-top: 15px;
  border-radius: 40px;
}

header {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  height: 5.5vh;
  background-color: #EA738DFF;
  z-index: 1;
  color: rgb(45, 45, 45);
  font-family: sans-serif;
}

ul {
  display: flex;
  flex-direction: row;

  list-style: none;
}

li {
  margin-left: 10px;
  list-style: none;
}

h1 {
  position: relative;
  margin-top: 1px;
  font-size: 20px;
}

#popup {
  position: fixed;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  display: none;
}

#saveScene {
  display: none;
}

#instructions {
  position: absolute;
  display: flex;
  right: 35vw;
  top: 25vh;
  background-color: #FFFFFF;
  display: none;
  width: 300px;
  height: 400px;
  text-align: left;
  font-size: 13px;
}

.savedScenes {
  position: fixed;
  text-align: center;
  height: 80px;
  width: 200px;
  top: 12%;
  left: 6.5%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}


#dropdown {
  position: fixed;
  text-align: center;
  height: 20px;
  width: 100px;
  top: 5%;
  right: 100px;
  padding: 10px;

}

.accountDropDown {
  position: fixed;
  right: 5px
}

#checkBox {
  position: fixed;
  right: 70px;
  width: 150px
}